{% extends 'layout.html.twig' %}

{% block title %}add category{% endblock %}

{% block content %}

    <form action="" method="post">

        <h1>Ajouter une catégorie</h1>
        <input type="text" name="name">
        <button type="submit" value="Envoyer" name="Submit">Envoyer</button>
    </form>

{% endblock %}
