
{% extends 'layout.html.twig' %}

{% block title %}Titre Catégories{% endblock %}

{% block content %}
<section>
    <h1>Les catégories</h1>
    <ul>
        {% for categorie in categories %}
        <li>{{ categorie.name }}</li>
        {% endfor %}
    </ul>
</section>

<a href="/categorys/add">Ajouter une catégorie</a>

{% endblock %}

