{% extends 'layout.html.twig' %}

{% block title %}edit item{% endblock %}

{% block content %}

    <form action="" method="post">

        <h1>changer cet item</h1>
        <input type="text" name="title" value="{{ item.title }}">
        <button type="submit" value="Envoyer" name="Submit">Envoyer</button>
    </form>

{% endblock %}
